<h1>hello world</h1>
<ol>
<li>
<%= @one=link_to "chilli mac", "/chillimac"%>
</li>
<li>
<%= @two=link_to "meatball marinara", "/meatballmarinara"%>
</li>
<li>
<%= @three=link_to "cheese tortilini", "/cheesetortilini"%>
</li>
<li>
<%= @four=link_to "pizza", "/pizza"%>
</li>
<li>
<%= @five=link_to "chili with beans", "/chiliwithbeans"%>
</li>
<li>
<%= @six=link_to "beef stew", "/beefstew"%>
</li>
<li>
<%= @seven =link_to "beef taco", "/beeftaco"%>
</li>
<li>
<%= @eight =link_to "pork sausage", "/porksausage"%>
</li>
<li>
<%= @nine =link_to "hashbrown", "/hashbrown"%>
</li>
<li>
<%= @ten=link_to "goulash", "/goulash"%>
</li>
</ol>
